@import 'bootswatch/bootstrap.min.scss';

body {
}

.btn-next {
  background-color: #00bc8c;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  margin: 25px 15px;
  box-shadow: none;
  cursor: pointer;
}